#hobby-cards {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    width: 100%;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 810px) {
    /* .card {
        height: 20rem;
    } */
    #hobby-cards {
        flex-direction: column;
    }

    .card-video-container {
        overflow: visible;
        width: 100%;
        height: 100%;
        transform: translate(0%, -80%);
    }

    .card-video-overlay {
        transform: translate(0%, 80%);
    }
}

@media screen and (max-width: 670px) {
    .card {
        padding-bottom: 70%;
    }

    .card h3 {
        font-size: 5vw;
    }

    .card p {
        font-size: 2.5vw;
        line-height: 2.5vw;
    }
}