@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

#title-holder {
    animation: 1.5s ease fadeIn;
}

#tsparticles {
    animation: 15s ease fadeIn;
}

.no-height {
    height: 0;
    overflow: hidden;
}

.auto-height {
    height: auto;
}

.fade-enter {
    opacity: 0;
    transform: translateY(-35rem);
}

.fade-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity ease 300ms, transform linear 0ms;
}

.fade-exit {
    opacity: 1;
    transform: translateY(0);
}

.fade-exit-active {
    opacity: 0;
    transform: translateY(35rem);
    transition: opacity ease 300ms, transform linear 0ms;
}