@import url('variables.css');

.header {
    font-family: var(--header-font);
    color: var(--white-color);
    font-size: 4rem;
    font-weight: 400;
    background-color: var(--primary-color);
}

.subheader {
    font-family: var(--header-font);
    color: var(--white-color);
    font-size: 4vw;
    margin: 1rem 2rem;
}

.title {
    font-family: var(--header-font);
    color: var(--white-color);
    font-size: 8rem;
    font-weight: 400;
    background-color: var(--primary-color);
}

#subtitle {
    /* font-size: 1.75vw; */
    font-family: var(--header-font);
    color: var(--white-color);
    font-size: 2rem;
    font-weight: 400;
    line-height: normal;
    margin-left: 0.5rem;
    padding-left: 2rem;
    /* transition: all 0.5s ease-out; */
}

.section {
    font-size: 1.25rem;
    color: var(--white-color);
    font-family: var(--body-font);
    margin-bottom: 0;
}

.entry-title {
    align-self: flex-start;
    font-family: var(--header-font);
    color: var(--white-color);
    line-height: normal;
    margin: 0;
    font-size: 1.5rem;
}

p, ul {
    font-size: 1.15rem;
    color: var(--white-color);
    font-family: var(--body-font);
    margin-bottom: 0;
}

h1::selection {
    background-color: var(--white-color);
    color: var(--primary-color);
}

h2::selection, p::selection, br::selection, li::selection, h3::selection {
    background-color: var(--primary-color);
}

a::selection, .highlight::selection, button::selection {
    background-color: #ffffff;
}

.highlight {
    color: var(--primary-color);
}

li {
    margin: 0.75rem 0;
}

@media screen and (max-width: 1200px) {
    #subtitle {
      font-size: 3vw;
    }

    .title {
        font-size: 10vw;
    }

    .subheader {
        font-size: 4rem;
        padding-left: 2.5%;
        line-height: 4rem;
        margin-left: 0;
    }
}

@media screen and (max-width: 468px) {
    #subtitle {
      font-size: 4vw;
    }

    .title {
        font-size: 12vw;
    }

    .subheader {
        font-size: 10vw;
        padding-left: 2.5%;
        margin-left: 0;
    }
}