:root {
    --primary-color: #d23532;
    --secondary-color: #251b4b;
    --tertiary-color: #f29940;
    --black-color: #0e0c0d;
    --grey-color: #171717;
    --white-color: #ffffff;

    --primary-color-numbers: 210, 53, 50;
    --secondary-color-numbers: 37, 27, 75;
    --tertiary-color-numbers: 242, 153, 64;
    --black-color-numbers: 14, 12, 13;
    --white-color-numbers: 255, 255, 255;
  
    --header-font: 'IBM Plex Mono', monospace;
    --body-font: 'Poppins', sans-serif;
}